html, body {
    font-family: "adelle-sans", sans-serif;
    font-size:   16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: $iroko;
    font-family: "adelle", serif;
}

.a-ff\:headline {
    font-family: "adelle", serif;
}

.a-ff\:body {
    font-family: "adelle-sans", sans-serif;
}

h1 {
    font-size: 1.75rem;
}

@media (min-width: breakpoint(tablet)) {
    h1 {
        font-size: 2.25rem;
    }
}

@media (min-width: breakpoint(desktop)) {
    h1 {
        font-size: 3rem;
    }
}
