$texas-rose: #ffc44d; // yellow
$half-colonial-white: #fdf5d1; // cream
$voodoo: #674172; // purple
$maroon-flush: #d02746; // red
$java: #13caa6; // blue green
$iroko: #473821; // dark brown
$tundora: #424242; // black
$black-white: #fffefa; // white

$breakpoints: (
    mobile:  23rem,
    tablet:  48rem,
    desktop: 64rem,
    retina:  90rem
);
