+component(header) {
    color:          $colors.white;
    text-align:     center;
    vertical-align: middle;
    width:          100%;

    position: absolute;
    top:      0;
    z-index:  9999;


    +above($breakpoints.header) {
        height:      6.111111111rem;
        line-height: @height;
        text-align:  right;
    }

    +part(logo) {
        height: 60px;
        margin: 1.5rem;

        +above($breakpoints.header) {
            float: left;
        }
    }
}


+component(navigation) {
    display: none;

    +above($breakpoints.header) {
        display: inline;
    }

    ul {
        list-style: none;
        display:    inline;
    }

    li {
        display:        inline;
        text-transform: uppercase;

        & + li {
            margin-left: 1.9rem;
        }
    }
}

