+component(peddling) {
    background: $colors.red;
    color:      $colors.white;
    position:   relative;

    +part(image) {
        background:      center center no-repeat;
        background-size: 16rem;
        height:          20rem;
        width:           100%;
        margin-top:      2rem;
        position:        relative;
        transition:      2s transform ease-in-out;
        transform:       translateX(10%);

        +above($breakpoints.midpoint) {
            background-size: 20rem;
        }

        +above($breakpoints.desktop) {
            background-size: 25rem;
            height:          25rem;
        }

        +option(active) {
            transform: translateX(50%);
        }

        +option(exterior) {
            background-image: url(../images/cart/exterior.png);

            top:     24%;
            z-index: 201;
        }

        +option(interior) {
            background-image: url(../images/cart/interior.png);

            position: absolute;
            top:      24%;
            left:     -100%;
            z-index:  200;
        }
    }

    +part(separator) {
        background: $colors.white;
        height:     20rem;
        width:      1px;

        position: absolute;
        left:     50%;
        top:      30%;
        z-index:  500;

        +above($breakpoints.tablet) {
            top:    32.5%;
            height: 20rem;
        }

        +above($breakpoints.desktop) {
            top:    28%;
            height: 25rem;
        }
    }

}

+component(stage) {
    +above($breakpoints.desktop) {
        height: 25rem;
    }

    +part(cover) {
        overflow: hidden; // Another hack to make the animation work.
        width:    100%;
        height:   100%;
        position: absolute;
        top:      0;

        +option(left) {
            left: -50%;
        }

        +option(right) {
            right: -50%;
        }
    }
}
