+component(about) {
    background: $colors.cream;
    position:   relative;
}

+component(facts) {
    // Give height to the parent container.
    overflow:   auto;
    text-align: center;
}

/*
|--------------------------------------------------------------------------
| Fact Component.
|--------------------------------------------------------------------------
|
| List of trivia facts.
|
*/
+component(fact) {
    padding:    3rem 0;
    text-align: center;

    +above($breakpoints.tablet) {
        display: inline;
        float:   left;
        padding: 3rem 1rem;
        width:   50%;
    }

    +above($breakpoints.desktop) {
        width: 33.33%;
    }

    +part(description) {
        opacity:          0;
        transform:        translateY(-20px);
        transition:       0.5s opacity, 1s transform ease-in-out;
        transition-delay: 0;

        +option(active) {
            opacity:   1;
            transform: translateY(0);
        }
    }

    +part(image) {
        height:           12rem;
        width:            100%;
        background:       center center no-repeat;
        background-size:  10.4rem;
        opacity:          0;
        transform:        translateY(-1.2rem);
        transition:       0.5s opacity, 1s transform ease-in-out;
        transition-delay: 0.5s;

        +option(active) {
            opacity:   1;
            transform: translateY(0);
        }

        +option(philippines) {
            background-image: url(../images/about/philippines.png);
        }

        +option(foreign) {
            background-image: url(../images/about/sizes.png);
        }

        +option(sherbet) {
            background-image: url(../images/about/sherbet.png);
        }

        +option(moustache) {
            background-image: url(../images/about/moustache.png);
            background-size:  7.2rem;
        }

        +option(mi-gusta) {
            background-image: url(../images/about/mi-gusta.png);
        }
    }

    /*
    |--------------------------------------------------------------------------
    | Hackery
    |--------------------------------------------------------------------------
    |
    | Just minor hacks to get everything on center.
    |
    */
    +option(large) {
        float:   none;
        display: inline-block;
    }

    +option(hide-on-large) {
        +above($breakpoints.desktop) {
            display: none;
        }
    }

    +part(row) {
        +option(show-on-large) {
            display: none;

            +above($breakpoints.desktop) {
                display: block;
            }
        }
    }
}

+above($breakpoints.tablet) {
    +tweak(first) {
        transition-delay: 0;
    }
    +tweak(second) {
        transition-delay: 0.5s;
    }
    +tweak(third) {
        transition-delay: 0s;
    }
    +tweak(fourth) {
        transition-delay: 0.5s;
    }
    +tweak(fifth) {
        transition-delay: 0s;
    }
}

+above($breakpoints.desktop) {
    +tweak(first) {
        transition-delay: 0;
    }
    +tweak(second) {
        transition-delay: 0.5s;
    }
    +tweak(third) {
        transition-delay: 1s;
    }
}

