.header {
    text-align:     center;
    vertical-align: middle;
    width:          100%;

    position: absolute;
    top:      0;
    z-index:  9999;


    +above(950px) {
        height: 110px;
        line-height: 110px;

        > .wrapper {
            vertical-align: middle;
            height: 60px;
        }

        text-align: right;

        +part(logo) {
            float: left;
        }
    }
}

.header__logo {
    height: 60px;
    margin: 1.5rem;
    vertical-align: middle;

}

.navigation {
    display: none;

    +above(950px) {
        display: inline;
    }


    ul {
        list-style: none;
        display:    inline;
    }

    li {
        text-transform: uppercase;
        display:        inline;

        & + li {
            margin-left: 1.9rem;
        }
    }

    a {
        color:           $colors.white;
        font-weight:     800;
        text-decoration: none;
    }
}

