+component(ingredients) {
   background: $colors.purple;
   color:      $colors.white;
}

+component(ingredient-list) {
    overflow: auto;

    +part(ingredient) {
        span(1/3);
        overflow-x: scroll;
    }
}

+component(ingredient) {
    min-height: 10rem;
    list-style: none;
    padding:    1rem;

    +part(image) {
        width: 100%;
    }

    +part(label) {
        font-size:      0.75rem;
        display:        block;
        margin-top:     0.5rem;
        text-align:     center;
        text-transform: lowercase;
    }
}