.landing {
    background:      url(../images/tongue.png) $colors.yellow no-repeat center 140px;
    background-size: 400px;
    height:          550px;
    position:        relative;


    +part(heading) {
        position: relative;
        z-index: 9999;
    }

    +part(caption) {
        position: relative;
        z-index: 9999;
    }

    +part(image) {
        height: 20rem;
        width:  100%;

        position: absolute;
        left:     0;
        bottom:   -100px;
        background: url(../images/ice-cream.png) no-repeat center center;
        background-size: 160px;

        +above(600px) {
            bottom: -125px;
        }

        +above(1024px) {
            bottom: -150px;
        }
    }

    +above(600px) {
        background-size: 500px;
        height:          650px;

        +part(image) {
            height: 22rem;
            background-size: 200px;
        }
    }

    +above(1024px) {
        background-size: 600px;
        height:          800px;

        +part(image) {
            height: 30rem;
            background-size: 250px;
        }
    }
}
