+component(pricing) {
    background: $colors.cream;
    overflow:   auto;
}

/*
|--------------------------------------------------------------------------
| Product Component
|--------------------------------------------------------------------------
|
| Product list.
|
*/
+component(product) {
    text-align: center;
    padding:    2rem 1rem;

    +above($breakpoints.tablet) {
        display: inline;
        float:   left;
        width:   50%;
    }

    +above(64.666666667rem) {
        padding: 1rem;
        width:   25%;
    }

    +part(title) {
        font-weight:   200;
        margin-bottom: 1rem;
    }

    +part(description) {
        margin-bottom: 1.5rem;
    }

    +part(order) {
        display:   block;
        font-size: 0.8rem;
        margin:    0 auto;
        margin-bottom: 0.5rem;
        width:     6rem;
    }

    +part(price) {
        display:       block;
        margin-bottom: 0.5rem;
    }

    +part(image) {
        height:          15rem;
        width:           100%;
        background:      center bottom no-repeat;
        background-size: 108px;

        +option(wafer) {
            background-image: url(../images/pricing/wafer-cone.png);
        }

        +option(sugar) {
            background-image: url(../images/pricing/sugar-cone.png);
        }

        +option(cup) {
            background-image: url(../images/pricing/cup.png);
        }

        +option(sandwich) {
            background-image: url(../images/pricing/sandwich.png);
            background-size:  8.333333333rem;
            height:           12rem;

            +above($breakpoints.mobile) {
                height:                15rem;
                background-position-y: bottom;
                background-size:       150px;
            }
        }
    }
}
