.board--hero {
    background-image:    url(../images/tongue.png);
    background-position: center center;
    background-repeat:   no-repeat;
}

.board__image--ice-cream {
    left: 50%;
    transform: translate(-50%, 20%);
}

.fact {
    margin-bottom: 5rem;
}

.fact__image {
    height: 12rem;

    display:         flex;
    justify-content: center;
    align-items:     center;
}

.fact__description {
    margin-top: 1.5rem;
}

.stage__curtain {
    height: 100%;
    width:  50%;
}

.stage__image {
    height: 100%;
    width: 100%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.stage__image--exterior {
    background-image: url(../images/cart/exterior.png);
    transform:        translateX(50%);
}

.stage__image--interior {
    background-image: url(../images/cart/interior.png);
    transform:        translateX(-50%);
}

.stage__curtain {
    overflow: hidden;
}

.stage__separator {
    top: 50%;
    transform: translateY(-50%);
}

.button {
    border:          2px solid $java;
    border-radius:   5rem;
    color:           $java;
    display:         inline-block;
    font-size:       0.875rem;
    padding:         0.5625rem 1.25rem;
    text-transform:  uppercase;
    text-decoration: none;
    width:           6.75rem;
}

.product {
    padding: 2rem 1rem;
}

.product__image {
    height: 16.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__title {
    font-family: 'adelle-sans', sans-serif;
    font-weight: 200;
}

.product__description {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
}

.product__order {
    margin-bottom: 0.5rem;
}

.product__price {
    display: block;
    margin-bottom: 1rem;
}
