.board--landing {
    background-image: url(../images/tongue.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.board__image--ice-cream {
    left: 50%;
    transform: translate(-50%, 20%);
}
