doctype html
html
    head
        title Sorbetes
        link(type='text/css', rel='stylesheet', href='css/style.css')
        script(src='//use.typekit.net/smb8wka.js')
        script.
            try{Typekit.load();}catch(e){}
    body
        script(src='js/bundle.js')
