doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Sorbetes
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(type='text/css', rel='stylesheet', href='css/style.css')
        script(src='//use.typekit.net/smb8wka.js')
        script.
            try{Typekit.load({ async: true });}catch(e){}
    body#sorbetes
        include ./_partials/header.jade

        include ./_partials/landing.jade
        include ./_partials/about.jade
        include ./_partials/peddling.jade
        include ./_partials/ingredients.jade
        include ./_partials/pricing.jade

        footer.footer

        script(src='js/bundle.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-64356373-1', 'auto');
              ga('send', 'pageview');

