header.header
    div.wrapper
        img.header__logo(src="./images/logo.png", alt="Sorbetes")
        nav.header__navigation.navigation
            ul
                li
                    a.header__link.--about(href="/about") About
                li
                    a.header__link.--features(href="/features") Features
                li
                    a.header__link.--peddling(href="/service") Service
                li
                    a.header__link.--pricing.button(href="/order") Buy it now