section.section.landing
    div.wrapper
        h1.headline.landing__headline &ldquo;Cheap, Dirty, and Tasty!&rdquo;
        h2.caption.landing__caption Perfect when you're sweating like a pig.
        div.landing__image.ice-cream