section.section.peddling
    div.wrapper
        h1.headline.peddling__headline Peddling
        h2.caption.peddling__caption Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie fruitcake I love sesame snaps muffin.
        div.peddling__separator
        div.peddling__stage.stage
            div.stage__cover.--left
                div.peddling__image.--exterior
            div.stage__cover.--right
                div.peddling__image.--interior
