section.section.pricing
    div.wrapper
        h1.headline.pricing__headline Get it out there today!

        div.pricing__product.product
            h2.product__title #[strong Sorbetes] in Wafer Cone
            p.product__description Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.
            a.product__order.button.--order(href="#") Order
            span.product__price #[i.currency &#8369;]5.00
            div.product__image.--wafer
        div.pricing__product.product
            h2.product__title #[strong Sorbetes] in Sugar Cone
            p.product__description Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.
            a.product__order.button.--order(href="#") Order
            span.product__price #[i.currency &#8369;]10.00
            div.product__image.--sugar
        div.pricing__product.product
            h2.product__title #[strong Sorbetes] in a Cup
            p.product__description Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.
            a.product__order.button.--order(href="#") Order
            span.product__price #[i.currency &#8369;]10.00
            div.product__image.--cup
        div.pricing__product.product
            h2.product__title #[strong Sorbetes] Sandwich
            p.product__description Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.
            a.product__order.button.--order(href="#") Order
            span.product__price #[i.currency &#8369;]20.00
            div.product__image.--sandwich