-
    var products = [
        {
            id: 'wafer',
            container: 'in Wafer Cone',
            description: 'Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.',
            price: "5.00",
        },
        {
            id: 'sugar',
            container: 'in Sugar Cone',
            description: 'Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.',
            price: "10.00",
        },
        {
            id: 'cup',
            container: 'in a Cup',
            description: 'Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.',
            price: "10.00",
        },
        {
            id: 'sandwich',
            container: 'Sandwich',
            description: 'Cupcake ipsum dolor sit amet tootsie roll. Danish sugar plum apple pie.',
            price: "20.00",
        },
    ];

section.section.pricing
    div.wrapper
        h1.headline.pricing__headline Get it out there today!

        each product in products
            div.pricing__product.product
                h2.product__title #[strong Sorbetes] #{product.container}
                p.product__description #{product.description}
                a.product__order.button.--order(href="#") Order
                span.product__price #[i.currency &#8369;] #{product.price}
                div.product__image(class="--" + product.id)
