* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.section, .wrapper {
}

.wrapper {
    margin:    0 auto;
    max-width: 1200px;
    width:     90%;
}
