html, body {
    color: $colors.black;
    font-family: 'adelle-sans' serif;
    font-size:   18px;
    font-weight: 200;
}

.header {
    color: $colors.white;
}

.headline, .caption {
    text-align: center;
}

.headline {
    font-family:   'adelle' serif;
    font-size:     1.5rem;
    font-weight:   800;
    margin-bottom: 0.5rem;
}

.caption {
    font-weight: 200;
    font-size:   1rem;
}

.landing__headline {
    padding-top: 10.5rem;
}

.about__headline {
    padding-top: 1.5rem;
}

+above(600px) {
    .headline {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .caption {
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .landing__headline {
        padding-top: 8.5rem;
        margin-bottom: 0rem;
    }

    .landing__caption {
        margin-bottom: 0rem;
        font-size: 22px;
    }
}

+above(1024px) {
    .headline {
        font-size: 48px;
    }

    .landing__headline {
        padding-top: 10rem;
    }
}
