html, body {
    color:       $colors.black;
    font-family: "adelle-sans", sans-serif;
    font-size:   18px;
    font-weight: 100;
}

a {
    color:           $colors.white;
    font-weight:     800;
    text-decoration: none;
}

+component(currency) {
    font-family: "Helvetica Nueue", Arial, serif;
}

.headline, .caption {
    text-align: center;
    position:   relative;
    z-index:    9000;
}

+component(headline) {
    font-family:   "adelle", serif;
    font-size:     1.5rem;
    font-weight:   700;
    margin-bottom: 0.5rem;
    padding-top:   1.5rem;
}

+component(caption) {
    font-weight: 100;
    font-size:   1rem;
}

.landing__headline, .landing__caption {
    color: $colors.darkbrown;
}

.landing__headline {
    padding-top: 9rem;
}

+above($breakpoints.tablet) {
    +component(headline) {
        font-size:     2rem;
        margin-bottom: 1.5rem;
    }

    +component(caption) {
        font-size:     1rem;
        margin-bottom: 2rem;
    }

    .landing__headline {
        margin-bottom: 0rem;
        padding-top:   8.5rem;
    }

    .landing__caption {
        font-size:     24px;
        margin-bottom: 0rem;
    }

    .pricing__headline {
        margin-bottom: 2rem;
    }
}

+above($breakpoints.desktop) {
    .headline {
        font-size: 48px;
    }

    .landing__headline {
        padding-top: 10rem;
    }
}
