html, body {
    color: $colors.black;
    font-family: 'adelle-sans' serif;
    font-size:   18px;
    font-weight: 200;
}

.header {
    color: $colors.white;
}

.headline, .caption {
    text-align: center;
}

.headline {
    font-family:   'adelle' serif;
    font-size:     1.5rem;
    font-weight:   800;
    margin-bottom: 0.5rem;
}

.caption {
    font-weight: 200;
    font-size:   1rem;
}

.landing__headline, .landing__caption {
    color: $colors.darkbrown;
}

.landing__headline {
    padding-top: 10.5rem;
}

.about__headline {
    padding-top: 1.5rem;
}
