$colors = {
    yellow:     #ffc44d,
    cream:      #fdf5d1,
    purple:     #674172,
    red:        #d02746,
    bluegreen:  #13caa6,
    dark_brown: #473821,
    black:      #424242,
    white:      #fffefa
};
